@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 229, 231, 235;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Optional: Style scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(17, 24, 39);
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 85, 99);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 114, 128);
}
